# Checking Game Probabilities

In [1]:
import pandas as pd
import os

In [9]:
## So i dont have to run the whole notebook to check preds

curiosity_df = pd.read_csv('Data\\PredsMH2HFull.csv', index_col = False)

In [7]:
w_curiosity_df = pd.read_csv('Data\\PredsWH2HFull.csv', index_col = False)

In [10]:
curiosity_df

      Unnamed: 0  T1_TeamID  T2_TeamID      Pred        Team1         Team2
0              0       1163       1235  0.577233  Connecticut       Iowa St
1              1       1163       1228  0.696274  Connecticut      Illinois
2              2       1163       1120  0.643672  Connecticut        Auburn
3              3       1163       1361  0.691666  Connecticut  San Diego St
4              4       1163       1140  0.748162  Connecticut           BYU
...          ...        ...        ...       ...          ...           ...
4551        4551       1447       1443  0.218281       Wagner           WKU
4552        4552       1447       1255  0.209544       Wagner      Longwood
4553        4553       1447       1160  0.033225       Wagner      Colorado
4554        4554       1447       1286  0.341469       Wagner    Montana St
4555        4555       1447       1438  0.038163       Wagner      Virginia

[4556 rows x 6 columns]

In [15]:
def get_pred(Team1, Team2, mw):
    if type(mw)!= str:
        print("3rd parameter needs to be 'm', 'men', 'w', or 'women'")
    if mw.lower() == 'm' or mw.lower() == 'men':
        return curiosity_df.loc[(curiosity_df.Team1.str.lower().isin([Team1.lower(), Team2.lower()])) & (curiosity_df.Team2.str.lower().isin([Team1.lower(), Team2.lower()]))]
    elif mw.lower() == 'w' or mw.lower() == 'women':
        return w_curiosity_df.loc[(w_curiosity_df.Team1.str.lower().isin([Team1.lower(), Team2.lower()])) & (w_curiosity_df.Team2.str.lower().isin([Team1.lower(), Team2.lower()]))]
    else:
        print("3rd parameter needs to be 'm', 'men', 'w', or 'women'")

In [42]:
get_pred('Colorado', "florida", 'm')

      Unnamed: 0  T1_TeamID  T2_TeamID     Pred     Team1     Team2
3681        3681       1196       1160  0.51293   Florida  Colorado
4342        4342       1160       1196  0.48707  Colorado   Florida